PUBLIC_NAME=
PUBLIC_LOGO=
PUBLIC_PUBKEY=
PUBLIC_RELAYS=wss://nostr.wine,wss://relay.nostr.band,wss://nos.lol,wss://relay.snort.social,wss://relay.damus.io,wss://nostr.mom
PUBLIC_ABOUT=

PUBLIC_NOSTR_SHORT_NOTE_CLIENT=https://njump.me/
PUBLIC_NOSTR_LONG_FORM_CLIENT=https://habla.news/
PUBLIC_YONDAR=https://go.yondar.me/place/
PUBLIC_RSVPLEASE=https://rsvplease.me/
PUBLIC_NOSTRSCRIPT=https://nostrscript.suhailsaqan.com/

PUBLIC_NEW_WALLET=
PUBLIC_LNBITS_WALLET_API=

PUBLIC_MINT=
PUBLIC_MINT_WALLET_API_KEY=

PUBLIC_LOTTERY=
PUBLIC_LOTTERY_WALLET_API_KEY=

PUBLIC_NODE_PUBKEY_1=
PUBLIC_NODE_PUBKEY_2=

PUBLIC_SHOP=
PUBLIC_BTCPAY=

PUBLIC_MEMPOOL_TIP=https://mempool.space/api/blocks/tip/height
PUBLIC_MEMPOOL_FEES=https://mempool.space/api/v1/fees/recommended
PUBLIC_MEMPOOL_LIGHTNING=https://mempool.space/api/v1/lightning/nodes/
PUBLIC_LIGHTNING_EXPLORER=https://amboss.space/node/

PUBLIC_PRICE_API=https://api.kraken.com/0/public/Ticker?pair=XBT
PUBLIC_PRICE_CURRENCY=EUR
PUBLIC_PRICE_CURRENCY_SYMBOL=€

PUBLIC_GITHUB=

PUBLIC_GROUPCHAT=

PUBLIC_MUTINY=https://app.mutinywallet.com